* {
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f6f9fc;
}
.boards_container {
  height: 100vh;
  overflow-y: auto;
  padding: 20px 10px;
  display: flex;
}

.addBoard {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 100px;
}
